/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* GENERAL */

html {
    cursor: url('cursor/arrow.png'), auto;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #c9c9c9;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    /* box-sizing: border-box; */
}

p {
    margin: 0;
}

/* NAV BAR */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    height: 50px;
    margin-top: -3px;
}

a {
    text-decoration: none;
    color: black;
    padding: 16px 30px;
    margin-right: -5px;
    letter-spacing: 5px;
    font-size: 13px;
    cursor: url('cursor/hand.png'), auto;
}

.active {
    background-color: #46406b;
    color: white;
}

.inactive:hover {
    color: #6b62a4;
}

.dl-resume {
    margin: 20px;
    padding: 10px 20px;
    background-color: #46406b;
    border: none;
    border-radius: 20px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.dl-resume:hover {
    background: #d9d9d9;
    color: #46406b;
    border: #46406b solid 2px;
    padding: 8px 18px;
    cursor: url('cursor/hand.png'), auto;;
}

.resume-file {
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 788px) {
    .nav-bar a {
        font-size: 10px;
        padding: 16px 20px;
        margin-right: -5px;
    }
    .nav-bar {
        margin-top: -7px;
    }
    .dl-resume {
        margin-top: 25px;
        font-size: 10px;
    }
}

/* HOME */

.content {
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

.introduction {
    font-size: 50px;
}

.name {
    color: #46406b;
    cursor:url('cursor/arrow.png'), auto;
}

.roles {
    text-align: center;
    font-weight: 350;
    font-size: 17px;
    cursor: url('cursor/arrow.png'), auto;
}

/* ABOUT */

.about-contents {
    display: flex;
}

.picture {
    width: 100%;
    /* height: 400px; */
    /* min-height: 500px; */
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.left-section {
    width: 40%;
    height: 88vh;
}

.right-section {
    width: 60%;
    margin-top: 24px;
}

.about-txt {
    text-align: center;
    font-size: 38px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #46406b;
}

.right-section li {
    padding-bottom: 15px;
}

.skills-txt {
    text-align: center;
    font-size: 25px;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    color: #46406b;
}

.skills {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.box {
    flex: 1;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.box:hover {
    background-color: #46406b;
    color: white;
}

.icons {
    margin-top: 18px;
    width: 100%;
    height: 100%;
}

.skill-name {
    font-size: 15px;
    font-family: "Jost", sans-serif;
    text-align: center;
}

/* CONTACTS */

.contacts-txt {
    text-align: center;
    font-size: 38px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #46406b;
    margin-top: 30px;
}

.contacts-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #d9d9d9;
    align-items: center;
    margin: 5px 10px;
    padding: 0px 5px;
    width: 60%;
    min-width: 400px;
    max-width: 500px;
}

.container a:hover {
    color: #46406b;
    font-weight: 500;
}

.contacts-icon {
    width: 50px;
    padding: 5px;
}

.contacts-icon:hover {
    width: 60px;
    padding: 0px;
}

/* MINI PROJECTS */

.mini-projects-txt {
    text-align: center;
    font-size: 38px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #46406b;
    margin-top: 30px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
    gap: 18px;
}

.projects-box {
    width: 30%;
    padding: 15px 5px;
    display: flex;
    text-align: center;  
}

.projects-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 16px;
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;
    color: #e2e7fb;
    border: 3px solid #6f707a;
    -webkit-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}

.projects-box a:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #8585bb;
    border-right: 3px solid #6d6890;
    border-bottom: 3px solid #6d6890;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.projects-box a:hover {
    padding: 0.75rem 2.25rem;
}

.projects-box a:hover:before {
    top: 0;
    left: 0;
}

/* OTHER */

.name {
    font-weight: 360;
    animation-name: effect3d;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes effect3d {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15)
    };
}