.mini-projects-txt {
    text-align: center;
    font-size: 38px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    color: #46406b;
    margin-top: 30px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: auto 50px;
    line-height: 170%;
}

.projects-box {
    padding: 15px 5px;
    display: flex;
    text-align: center;
}

.projects-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 60px;
    font-size: 16px;
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;
    color: #e2e7fb;
    border: 3px solid #6f707a;
    -webkit-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}

.projects-box a:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #8585bb;
    border-right: 3px solid #6d6890;
    border-bottom: 3px solid #6d6890;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.projects-box a:hover {
    padding: 0.75rem 2.25rem;
    color: transparent;
}

.projects-box a:hover:before {
    top: 0;
    left: 0;
}

.projects-box a:hover::after {
    color: #e2e7fb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-1 .projects-box:nth-child(1) a:hover::after,
.container-1 .projects-box:nth-child(2) a:hover::after {
    content: 'HTML, CSS & JavaScript';
}

.container-2 .projects-box:nth-child(1) a:hover::after,
.container-2 .projects-box:nth-child(2) a:hover::after {
    content: 'HTML, CSS & ReactJS';
}

.container-2 .projects-box:nth-child(3) a:hover::after,
.container-2 .projects-box:nth-child(4) a:hover::after,
.container-2 .projects-box:nth-child(5) a:hover::after {
    content: 'HTML & CSS';
}

.other-projects {
    text-align: center;
    color: #46406b;
    font-size: 20px;
    font-family: "Jost";
    font-weight: 450;
    margin: 10px 0px;
}

.other-projects a {
    text-decoration: underline;
    padding: 0;
    margin-right: 0;
    letter-spacing: 0px;
    font-size: 20px;
    color: #46406b;
}

.other-projects a:hover {
    color: #6d6890;
    
}